html,
body {
    background: #fff;
    color: #52565e;
    overflow: hidden;
}
a {
    color: #52565e;
    text-decoration: none;
}
a i {
    font-size: 25px;
    padding: 30px 20px 0 0;
    color: #999;
}
#wrapper {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 300px;
    background: #fff;
    text-align: left;
}
#inner {
}

/* header */

#txt00 {
    font-family: 'ZCOOL XiaoWei', serif;
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 5em;
    color: #999;
}

/* icons */

.fa-github:hover {
    color: #4078c0;
}
.fa-envelope:hover {
    color: #01cd74;
}
.fa-file-download:hover{
    color: #333;
}

/* desc */
.typewrite > .wrap {
    cursor: default;
    margin-left: 5px;
    border-right: 2px solid #999; /*cursor*/
    padding-right: 3px;
    font-family: 'Bitter', serif;
    font-size: 24px;
    color: #999;
    text-decoration: none !important;
}